.movetabs-hint {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  font-weight: var(--font-semibold);
  position: absolute;
  z-index: var(--layer-tooltip);
  padding: 0 var(--size-4-1);
  margin: var(--size-2-1);
  line-height: var(--line-height-tight);
  border-radius: var(--radius-s);
}

/* Hints appearing in sliding panes/stacked mode */
.mod-stacked .movetabs-hint {
  transform: rotate(270deg);
  padding: var(--size-4-1) 0;
}